@import './_variables.css';
@import './_properties.css';
@import './flexy.css';
@import './skins.css';

html, body, #appContainer {
  width: 100%;
  height: 100%;
  font-family: var(--sans-serif, sans-serif);
  padding: var(--spacing-none, 0);
  margin: var(--spacing-none, 0);
}

#appContainer {
  background-color: var(--near-white, #f4f4f4);
  background-image: url('../assets/img/escheresque-dark.png');
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: var(--spacing-none, 0);
}

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
