.defaultTheme .primary .background,
.defaultTheme .primary.background,
.defaultTheme.primary.background {
  background-color: var(--blue);
}

.defaultTheme .primary .text,
.defaultTheme .primary.text,
.defaultTheme.primary.text {
  color: var(--near-white);
}

.defaultTheme .primary .border,
.defaultTheme .primary.border,
.defaultTheme.primary.border {
  border: thin solid var(--dark-blue);
}

.defaultTheme .reading .background,
.defaultTheme .reading.background,
.defaultTheme.reading.background {
  background-color: var(--near-white, #f4f4f4);
}

.defaultTheme .reading .text,
.defaultTheme .reading.text,
.defaultTheme.reading.text {
  color: var(--near-black, #111);
}

.defaultTheme .reading .border,
.defaultTheme .reading.border,
.defaultTheme.reading.border {
  border: thin solid var(--dark-blue, #00449e);
}

.defaultTheme .inverse .background,
.defaultTheme .inverse.background,
.defaultTheme.inverse.background {
  background-color: var(--near-white, #f4f4f4);
}

.defaultTheme .inverse .text,
.defaultTheme .inverse.text,
.defaultTheme.inverse.text {
  color: var(--blue, #357edd);
}

.defaultTheme .inverse .border,
.defaultTheme .inverse.border,
.defaultTheme.inverse.border {
  border: thin solid var(--blue, #357edd);
}

.defaultTheme .outline .background,
.defaultTheme .outline.background,
.defaultTheme.outline.background {
  background-color: transparent;
}

.defaultTheme .outline .text,
.defaultTheme .outline.text,
.defaultTheme.outline.text {
  color: var(--blue, #357edd);
}

.defaultTheme .outline .border,
.defaultTheme .outline.border,
.defaultTheme.outline.border {
  border: thin solid var(--blue, #357edd);
}

.defaultTheme .dark .background,
.defaultTheme .dark.background,
.defaultTheme.dark.background {
  background-color: var(--dark-blue, #00449e);
}

.defaultTheme .dark .text,
.defaultTheme .dark.text,
.defaultTheme.dark.text {
  color: var(--near-white, #f4f4f4);
}

.defaultTheme .dark .border,
.defaultTheme .dark.border,
.defaultTheme.dark.border {
  border: thin solid var(--near-black, #111);
}

.border {

}

.text {

}

.border {

}

