.Home {
  composes: max from global;
  composes: gridBase from global;
  background-color: var(--washed-blue);
  grid-template-columns: var(--width-5, 15rem) 1fr var(--width-5, 15rem);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "playerOne drafting playerTwo"
                       "playerOne projects playerTwo"
                       "playerFour projects playerThree"
                       "playerFour messages playerThree";
}

/* Inherit border, margin, and padding from grid */
.playerOne {
  grid-area: playerOne;
}

.playerTwo {
  grid-area: playerTwo;
}

.playerThree {
  grid-area: playerThree;
}

.playerFour {
  grid-area: playerFour;
}

.projects {
  grid-area: projects;
}

.messages {
  grid-area: messages;
}

.drafting {
  grid-area: drafting;
}
