.Home {
  --main-background: var(--washed-purple) url('./texture.png');
}

.Player {
  --main-background: var(--yellow, yellow);
}

.playerOne {
  --main-bg-color: var(--washed-blue-20);
  --header-fg-color: var(--washed-blue);
}

.playerTwo {
  --main-bg-color: var(--washed-green-20);
  --header-fg-color: var(--washed-green);
}

.playerThree {
  --main-bg-color: var(--washed-red-20);
  --header-fg-color: var(--washed-red);
}

.playerFour {
  --main-bg-color: var(--washed-yellow-20);
  --header-color: var(--washed-yellow-red,#e8fdf5);
}
