.flexCol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
}

.flexCol > .main {
  flex: 1 1 auto;
}

.flexCol > .header,
.flexCol > .footer {
  flex: 0 1 auto;
}

.basicFlexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.basicFlexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
}

.basicFlexItem {
  flex: 1 1 auto;
  margin-left: var(--spacing-extra-small, .25rem);
  margin-right: var(--spacing-extra-small, .25rem);
}

.basicFlexItem:first-child {
  margin-left: var(--spacing-none, 0);
}

.basicFlexItem:last-child {
  margin-right: var(--spacing-none, 0);
}

.centered {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  &> * {
    flex: 0 1 auto;
  }
}

