.Player {
  border-top-left-radius: var(--border-radius-3, .5rem);
  border-top-right-radius: var(--border-radius-3, .5rem);
  width: 100%;
}

.Player > header {
  border-top-left-radius: var(--border-radius-3, .5rem);
  border-top-right-radius: var(--border-radius-3, .5rem);
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: #fff;
  color: #444;
}

.Player > header > h3 {
  margin-top: var(--spacing-none);
  margin-bottom: var(--spacing-none);
  text-align: center;
  padding: var(--spacing-small);

}

