.Player {
  & > header > h3 {
    width: 100%;
    text-align: center;
  }

}

.badgeRow{
  composes: basicFlexRow from global;
  align-content: stretch;
  align-items: stretch;
  list-style: none;
  padding: var(--spacing-none, 0);

}

.badgeRow li {
  flex: 1 1 auto;
}
