.Drafting {
  composes: borderedPane from global;
  display: grid;
  background-color: color(var(--blue, #357edd) a(70%));
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--spacing-extra-small, .25rem);
  margin: var(--spacing-none, 0);
  padding: var(--spacing-extra-small, .25rem);
}

.DraftingBlock {
  composes: borderedPane from global;
  composes: borders from global;
  grid-column: 1 / 5;
  width: 100%;
  background-color: var(--black-20, rgba(0, 0, 0, .2));
}

.Worker {
  composes: biSection from global;
  composes: borderedPane from global;
  width: 100%;
}

.header {
  width: 100%;
  composes: themeHeader from global;
  composes: centered from global;
}

.header > h3 {
  margin-top: var(--spacing-none);
  margin-bottom: var(--spacing-none);
  text-align: center;
}

.main {
  width: 100%;
  color: var(--white-80, rgba(255, 255, 255, .8));
  composes: themeMain from global;
  composes: flexCol from global;
}

.countDisplay:nth-of-type(even) {
  background-color: var(--white-10, rgba(255, 255, 255, .1));
}

.countDisplay {
  flex: 1 1 auto;
  composes: basicFlexRow from global;

  justify-content: space-between;
  padding-left: var(--spacing-extra-small, .25rem);
  padding-right: var(--spacing-extra-small, .25rem);
  font-size: var(--font-size-6, .875rem);
  font-weight: 500;

}

.countName {
  composes: basicGridItem from global;
  float: left;
  text-align: left;
}

.countVal {
  composes: basicGridItem from global;
  float: right;
  text-align: right;
}
