.Drafting {
  display: grid;
  background-color: color(var(--blue, #357edd) a(70%));
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: var(--spacing-extra-small, .25rem);
  margin: var(--spacing-none, 0);
  padding: var(--spacing-extra-small, .25rem);
}

.DraftingBlock {
  composes: borders from global;
  grid-column: 1 / 5;
  width: 100%;
  background-color: var(--black-20, rgba(0, 0, 0, .2));

}

.Worker {
  composes: borders from global;
  display: grid;
  grid-gap: var(--spacing-extra-small);
  background-color: var(--white-30, rgba(255, 255, 255, .3));

  & header {
    background-color: var(--theme-primary-bg-color);
    color: var(--theme-primary-text-color);
  }
}

.header {
  composes: centered from global;
  border-top-left-radius: var(--border-radius-3);
  border-top-right-radius: var(--border-radius-3);
  text-align: center;

  & h3 {
    margin: var(--spacing-none, 0);
    font-size: var(--font-size-5, 1rem);

  }
}

.countDisplay:nth-of-type(even) {
  background-color: var(--white-10, rgba(255, 255, 255, .1));

}

.countDisplay {
  height: 100%;
  vertical-align: baseline;
  margin: var(--spacing-none, 0);
  width: 100%;
  composes: basicFlexRow from global;
  justify-content: space-between;
  padding-left: var(--spacing-extra-small, .25rem);
  padding-right: var(--spacing-extra-small, .25rem);
  font-size: var(--font-size-6, .875rem);
  font-weight: 500;

}

.countName {
  composes: basicGridItem from global;
  float: left;
  text-align: left;
}

.countVal {
  composes: basicGridItem from global;
  float: right;
  text-align: right;
}
